#wrap{
    .section-notice-view{
        @include vw(padding,40px 0);
        .view-box{
			border-top: 1px solid $color-line;
			@include vw(padding,16px 0);
			@include vw(line-height, 23.8px);
			@include vw(font-size, 14px);
			font-weight: 400;
			color:$color-black;
		}
	
		.file-box{
			dl{
				dt{
					@include vw(margin-bottom, 16px);
					font-weight:600;@include vw(font-size,13px);@include vw(line-height,22.1px);
					color:$color-black;
				}
				dd{
	
				}
			}
		}
    }
}